.footer{
    width: 100%;
    background-image: url("../../images/dark-wood.png");
    color: #ffffff;
    &__box{
        display: flex;
        justify-content: space-between;
        padding-top: 3rem;
        padding-bottom: 4rem;
    }
    &__info{
        display: flex;
        justify-content: flex-start;
        &Nav{
            margin: 0;
            padding: 0;
            i{
                padding-right: 10px;
                font-size: 20px;
            }
            li{
                line-height: 2.9;
            }
        }
        &Social{
            a{
            color: #ffffff;
            &:visited{
                color: #fff;
            }
            i{
                line-height: 2.5;
                font-size: 19px;
                margin-right: 10px;
            }
        }
        }
    }
    &__list{
        margin-right: 4rem;
        & h3{
            font-weight: bold;
            color: $color__orange;
            margin-bottom: 0.5rem;
            letter-spacing: 1.8px;

        }
    }
    &__logo{
        text-align: right;
        img{
            max-width: 78%;
            padding-top: 1rem;
        }
    }
    &__copy{
        text-align: center;
        padding-bottom: 2rem;
        font-family:  $font__accent-sub;
    }
}