.journal,.journals{
    .entry-header{
        line-height:0;
        position: relative;
    }
    .entry-title{
    background-color: $color__green;
    color: #fff;
    font-size: 33.6px;
    font-size: 2.1rem;
    left: 0;
    padding: .75rem 1.5rem;
    position: absolute;
    margin-top: 2.25rem;
    max-width: 75%;
    top: 0;
    }
    .entry-meta{
        background-color: $color__green;
        bottom: 0;
        color: #fff;
        display: inline-block;
        font-family: $font__accent-sub;
        padding: 1.00005rem 1.5rem;
        position: absolute;
        right: 0;
        text-transform: uppercase;
    }
    .comments-link{
        a{
        color: #ffffff;
    }
    }
    .wp-post-image{
        width: 100%;
    }
}

.journals{
    .entry-title a{
        color: #ffffff;
    }
}

.read-more{
    box-shadow: 0;
    border: 1px solid #000;
    color: #000;
    font-size: .9rem;
    line-height: 1;
    padding: .75rem 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $font__accent-sub;
    border-radius: 0;
    background-color: transparent;
    margin-right: 5px;
    i{
        margin-right: 10px;
    }
    &:hover{
    background-color: $color__green;
    border: 1px solid $color__green;
    color: #fff;
}
}