.products{
    &__header{
        text-align: center;
        border-bottom:1px dashed #c8c8c8;
        margin-bottom: 3rem;
    }
    &__title{
        font-size: 2.4rem;
        margin-bottom: .5rem;
        margin-top: 0;
    }
    &__nav{
        display: flex;
        font-family: $font__accent-sub;
        font-size: 1.2rem;
        -ms-flex-pack: center;
        justify-content: center;
        list-style-type: none;
        margin-left: 0;
        padding-left: 0;
        text-transform: uppercase;
        margin-bottom: 50px;
        margin-top: 20px;
        li{
            margin: 0 1.5rem;
        }
    }
    &__thumbnail{
        background-color: #e1e1e1;
        height: 250px;
        overflow: hidden;
        position: relative;
    }
    &__grid{
        display:grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 1.5rem;
        margin-bottom: 1.5rem;
    }
    &__info{
        font-size: .9rem;
        padding: .75rem 1rem;
    }
    &__item{
        border: $border__solid;
        .entry-title {
            background: #fff;
            display: inline;
            font-size: 16px;
            font-size: 1rem;
            font-weight: 400;
            font-family: Merriweather Web,serif;
            letter-spacing: 0;
            line-height: 1.75;
            padding-right: .25rem;
            text-transform: none;
            &::before{
                float: left;
                width: 0;
                white-space: nowrap;
                content: ".............................................."
            }
        }
    }
    .wp-post-image{
        left: 50%;
        max-height: 250px;
        max-width: none;
        position: absolute;
        top: 50%;
        transform: translate(-50%,-52%);
        width: auto;
    
    }
    &__price{
        float: right;
        padding-left: .25rem;
        background: #fff;
    }
}

.product {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &__price{
        font-family: $font__accent-sub;
        font-size: 1.8rem;
        margin-top: 0;
        text-transform: uppercase;
        margin-bottom: 0;
    }
&__img{
    width: 48%;
}
&__content{
width: 48%;
}
.entry-content{
    margin-top: 0;
}
.entry-title{
    color: $color__orange;
    font-size: 2.4rem;
    margin-bottom: 0.5rem;
    margin-top: 0;
}
}

.single-product_type{
    #primary{
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}

.taxonomy-description {
    margin: 2rem auto 3rem;
    max-width: 800px;
}