/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
	margin: 0 0 $base__space-unit;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
	 ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}
h2{
    font-size:1.5rem;
}
.contact-meta i {
    line-height: 1.8;
    margin-right: .5rem;
    width: 20px;
}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}
