@font-face {
    font-family: '.';
    src: url('8a4994569ce1e9d19f38dc5123bf3360.eot');
    src: url('8a4994569ce1e9d19f38dc5123bf3360.eot?#iefix') format('embedded-opentype'),
        url('8a4994569ce1e9d19f38dc5123bf3360.woff2') format('woff2'),
        url('8a4994569ce1e9d19f38dc5123bf3360.woff') format('woff'),
        url('8a4994569ce1e9d19f38dc5123bf3360.ttf') format('truetype'),
        url('8a4994569ce1e9d19f38dc5123bf3360.svg#.') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-LightItalic.eot');
    src: url('Merriweather-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Merriweather-LightItalic.woff2') format('woff2'),
        url('Merriweather-LightItalic.woff') format('woff'),
        url('Merriweather-LightItalic.ttf') format('truetype'),
        url('Merriweather-LightItalic.svg#Merriweather-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-Bold.eot');
    src: url('Merriweather-Bold.eot?#iefix') format('embedded-opentype'),
        url('Merriweather-Bold.woff2') format('woff2'),
        url('Merriweather-Bold.woff') format('woff'),
        url('Merriweather-Bold.ttf') format('truetype'),
        url('Merriweather-Bold.svg#Merriweather-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: '.';
    src: url('44f34d0b68557426882c57825db73e2d.eot');
    src: url('44f34d0b68557426882c57825db73e2d.eot?#iefix') format('embedded-opentype'),
        url('44f34d0b68557426882c57825db73e2d.woff2') format('woff2'),
        url('44f34d0b68557426882c57825db73e2d.woff') format('woff'),
        url('44f34d0b68557426882c57825db73e2d.ttf') format('truetype'),
        url('44f34d0b68557426882c57825db73e2d.svg#.') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-BoldItalic.eot');
    src: url('Merriweather-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Merriweather-BoldItalic.woff2') format('woff2'),
        url('Merriweather-BoldItalic.woff') format('woff'),
        url('Merriweather-BoldItalic.ttf') format('truetype'),
        url('Merriweather-BoldItalic.svg#Merriweather-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-Light.eot');
    src: url('Merriweather-Light.eot?#iefix') format('embedded-opentype'),
        url('Merriweather-Light.woff2') format('woff2'),
        url('Merriweather-Light.woff') format('woff'),
        url('Merriweather-Light.ttf') format('truetype'),
        url('Merriweather-Light.svg#Merriweather-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'merriweatherbold_italic';
    src: url('merriweatherbold_italic.eot');
    src: url('merriweatherbold_italic.eot?#iefix') format('embedded-opentype'),
        url('merriweatherbold_italic.woff2') format('woff2'),
        url('merriweatherbold_italic.woff') format('woff'),
        url('merriweatherbold_italic.ttf') format('truetype'),
        url('merriweatherbold_italic.svg#merriweatherbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'merriweatherlight_italic';
    src: url('merriweatherlight_italic.eot');
    src: url('merriweatherlight_italic.eot?#iefix') format('embedded-opentype'),
        url('merriweatherlight_italic.woff2') format('woff2'),
        url('merriweatherlight_italic.woff') format('woff'),
        url('merriweatherlight_italic.ttf') format('truetype'),
        url('merriweatherlight_italic.svg#merriweatherlight_italic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'novecento_sans_widedemibold';
    src: url('novecento_sans_widedemibold.eot');
    src: url('novecento_sans_widedemibold.eot?#iefix') format('embedded-opentype'),
        url('novecento_sans_widedemibold.woff2') format('woff2'),
        url('novecento_sans_widedemibold.woff') format('woff'),
        url('novecento_sans_widedemibold.ttf') format('truetype'),
        url('novecento_sans_widedemibold.svg#novecento_sans_widedemibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'merriweatherlight';
    src: url('merriweatherlight.eot');
    src: url('merriweatherlight.eot?#iefix') format('embedded-opentype'),
        url('merriweatherlight.woff2') format('woff2'),
        url('merriweatherlight.woff') format('woff'),
        url('merriweatherlight.ttf') format('truetype'),
        url('merriweatherlight.svg#merriweatherlight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'novecento_sans_widenormal';
    src: url('novecento_sans_widenormal.eot');
    src: url('novecento_sans_widenormal.eot?#iefix') format('embedded-opentype'),
        url('novecento_sans_widenormal.woff2') format('woff2'),
        url('novecento_sans_widenormal.woff') format('woff'),
        url('novecento_sans_widenormal.ttf') format('truetype'),
        url('novecento_sans_widenormal.svg#novecento_sans_widenormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'merriweatherbold';
    src: url('merriweatherbold.eot');
    src: url('merriweatherbold.eot?#iefix') format('embedded-opentype'),
        url('merriweatherbold.woff2') format('woff2'),
        url('merriweatherbold.woff') format('woff'),
        url('merriweatherbold.ttf') format('truetype'),
        url('merriweatherbold.svg#merriweatherbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-LightItalic_1.eot');
    src: url('Merriweather-LightItalic_1.eot?#iefix') format('embedded-opentype'),
        url('Merriweather-LightItalic_1.woff2') format('woff2'),
        url('Merriweather-LightItalic_1.woff') format('woff'),
        url('Merriweather-LightItalic_1.ttf') format('truetype'),
        url('Merriweather-LightItalic_1.svg#Merriweather-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-Bold_1.eot');
    src: url('Merriweather-Bold_1.eot?#iefix') format('embedded-opentype'),
        url('Merriweather-Bold_1.woff2') format('woff2'),
        url('Merriweather-Bold_1.woff') format('woff'),
        url('Merriweather-Bold_1.ttf') format('truetype'),
        url('Merriweather-Bold_1.svg#Merriweather-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: '.';
    src: url('7280bab2f4d647ebe44fcc679bc58ae3.eot');
    src: url('7280bab2f4d647ebe44fcc679bc58ae3.eot?#iefix') format('embedded-opentype'),
        url('7280bab2f4d647ebe44fcc679bc58ae3.woff2') format('woff2'),
        url('7280bab2f4d647ebe44fcc679bc58ae3.woff') format('woff'),
        url('7280bab2f4d647ebe44fcc679bc58ae3.ttf') format('truetype'),
        url('7280bab2f4d647ebe44fcc679bc58ae3.svg#.') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-BoldItalic_1.eot');
    src: url('Merriweather-BoldItalic_1.eot?#iefix') format('embedded-opentype'),
        url('Merriweather-BoldItalic_1.woff2') format('woff2'),
        url('Merriweather-BoldItalic_1.woff') format('woff'),
        url('Merriweather-BoldItalic_1.ttf') format('truetype'),
        url('Merriweather-BoldItalic_1.svg#Merriweather-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-Light_1.eot');
    src: url('Merriweather-Light_1.eot?#iefix') format('embedded-opentype'),
        url('Merriweather-Light_1.woff2') format('woff2'),
        url('Merriweather-Light_1.woff') format('woff'),
        url('Merriweather-Light_1.ttf') format('truetype'),
        url('Merriweather-Light_1.svg#Merriweather-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: '.';
    src: url('b3f3920fa013434b61bc8fa062a74c49.eot');
    src: url('b3f3920fa013434b61bc8fa062a74c49.eot?#iefix') format('embedded-opentype'),
        url('b3f3920fa013434b61bc8fa062a74c49.woff2') format('woff2'),
        url('b3f3920fa013434b61bc8fa062a74c49.woff') format('woff'),
        url('b3f3920fa013434b61bc8fa062a74c49.ttf') format('truetype'),
        url('b3f3920fa013434b61bc8fa062a74c49.svg#.') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-Light_2.eot');
    src: url('Merriweather-Light_2.eot?#iefix') format('embedded-opentype'),
        url('Merriweather-Light_2.woff2') format('woff2'),
        url('Merriweather-Light_2.woff') format('woff'),
        url('Merriweather-Light_2.ttf') format('truetype'),
        url('Merriweather-Light_2.svg#Merriweather-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-LightItalic_2.eot');
    src: url('Merriweather-LightItalic_2.eot?#iefix') format('embedded-opentype'),
        url('Merriweather-LightItalic_2.woff2') format('woff2'),
        url('Merriweather-LightItalic_2.woff') format('woff'),
        url('Merriweather-LightItalic_2.ttf') format('truetype'),
        url('Merriweather-LightItalic_2.svg#Merriweather-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: '.';
    src: url('24e33e9990bd15842b8274f26ff2ecab.eot');
    src: url('24e33e9990bd15842b8274f26ff2ecab.eot?#iefix') format('embedded-opentype'),
        url('24e33e9990bd15842b8274f26ff2ecab.woff2') format('woff2'),
        url('24e33e9990bd15842b8274f26ff2ecab.woff') format('woff'),
        url('24e33e9990bd15842b8274f26ff2ecab.ttf') format('truetype'),
        url('24e33e9990bd15842b8274f26ff2ecab.svg#.') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-Bold_2.eot');
    src: url('Merriweather-Bold_2.eot?#iefix') format('embedded-opentype'),
        url('Merriweather-Bold_2.woff2') format('woff2'),
        url('Merriweather-Bold_2.woff') format('woff'),
        url('Merriweather-Bold_2.ttf') format('truetype'),
        url('Merriweather-Bold_2.svg#Merriweather-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-BoldItalic_2.eot');
    src: url('Merriweather-BoldItalic_2.eot?#iefix') format('embedded-opentype'),
        url('Merriweather-BoldItalic_2.woff2') format('woff2'),
        url('Merriweather-BoldItalic_2.woff') format('woff'),
        url('Merriweather-BoldItalic_2.ttf') format('truetype'),
        url('Merriweather-BoldItalic_2.svg#Merriweather-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: '.';
    src: url('655ba092c5e833db5782a25a6b5abfc1.eot');
    src: url('655ba092c5e833db5782a25a6b5abfc1.eot?#iefix') format('embedded-opentype'),
        url('655ba092c5e833db5782a25a6b5abfc1.woff2') format('woff2'),
        url('655ba092c5e833db5782a25a6b5abfc1.woff') format('woff'),
        url('655ba092c5e833db5782a25a6b5abfc1.ttf') format('truetype'),
        url('655ba092c5e833db5782a25a6b5abfc1.svg#.') format('svg');
    font-weight: bold;
    font-style: normal;
}

